<%- include('partials/header') %>


<div class="container col-sm-12 col-md-8 col-lg-4 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5 justify-content-center">
        <div class="col text-center text-lg-start mb-2 reset-pass-text">
            <h1 class="display-5 fw-medium">Hey <%= email %> reset your password</h1>
        </div>
        <form accept="" method="POST">
            <div class="mb-3">
                <input type="password" class="form-control" name="newPass" placeholder="New Password">
              </div>
            <div class="mb-3">
              <input type="password" class="form-control" name="newPassConfirm" placeholder="Confirm New Password">
            </div>
            <div class="d-grid gap-2 d-sm-flex mt-2">
                <button type="submit" value="resetPass" class="w-100 mb-2 btn btn-lg rounded-3 btn-outline-warning">Submit</button>
            </div>
        </form>
    </div>
</div>


<%- include('partials/footer') %>



